@model SimpleBlog.Models.Admin.LoginInput

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="login-box">
    @Html.ValidationSummary(true)

    @using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { id = "admin-form" }))
    {
        <fieldset>
            <legend>Login</legend>
            <p>
                @Html.LabelFor(m => m.Login)
                @Html.TextBoxFor(m => m.Login)
                @Html.ValidationMessageFor(m => m.Login)
            </p>

            <p>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </p>

            @*@Html.Hidden("ReturnUrl")*@
            @Html.AntiForgeryToken()

            <p>
                <input type="submit" value="Login" />
            </p>
        </fieldset>
    }
</div>
